<h1>Editing application</h1>

<%= render "form", application: @application %>

<br>

<div>
  <%= link_to "Show this application", @application %> |
  <%= link_to "Back to applications", applications_path %>
</div>
