
  <p style="color: green"><%= notice %></p>

  <h1 class="container">Applications</h1>

  <div id="applications">
    <% @applications.each_slice(3) do |applications| %>
          <%- applications.each do |application| %>
            <%= render application%>
          <%end%>
    <% end %>
  </div> 
  <% if user_signed_in? %> <!-- ONLY SIGNED USERS CAN ADD APPLICATIONS! -->
  <div  class="container">
  <%= link_to "New application", new_application_path, class:"link" %>
  </div>
  <% end %>
