 <div class="container">
  <h1>New application</h1>

  <%= render "form", application: @application %>

  <br>

  <div>
    <%= link_to "Back to applications", applications_path, class:"link" %>
  </div>
</div>