<div class="container">
  <p style="color: green"><%= notice %></p>

  <%= render @application %>

  <div class="show-application-container">
    <%= link_to "Back to applications", applications_path, class:"link-app" %>
  </div>
</div>