<footer>
See also:
<ul>
    <li><%= link_to 'IIC Repository', 'https://github.com/ShadowGamer3301/IIC', class:'iic-footer-element'%></li>
    <li><%= link_to 'ShadowGamurs YT Chanel', 'https://www.youtube.com/@shadowgamur9982', class:'iic-footer-element'%> </li>
</ul>
</footer>