<div class="container">
<div id="left"> 
        <h2 style="font-family: 'Bebas Neue', cursive;">What is this project?</h2>
        IIC (shorter of "Is it Cracked?") is a website that provides information
        if certain application was cracked. What makes us different from for example
        CrackWatch is fact that we are not restricting ourselves to only one platform
        or type of software.
    <br>
        <h2 style="font-family: 'Bebas Neue', cursive;">Why this project was created?</h2>
        IIC was created to replace CrackWatch after it was taken down. I simply wanted
        a place where I could go to check if some software that I am interested in has been
        cracked already. And there are websites that show that information but there often
        show only specific type of software (for example games only) or are restricted to
        only one distribution platform (for example steam).
    <br>
        <h2 style="font-family: 'Bebas Neue', cursive;">How can I help this project?</h2>
        If you have programming knowledge you can go to our github repository and
        commit to the project. If you don't know how to program or you don't want
        to improve IIC from technical standpoint, we are working on feature that would
        allow users to submit their information about application (that will be later verified
        either by other users or admins and mods of this project.) Also you can donate
        some Monero to address provided in donate tab.
    <br>
    <%= link_to "Export data", export_path(format: :csv) %>
</div>
<div id="right">
    <h2 style="font-family: 'Bebas Neue', cursive;">IIC Development Team</h2>
    ShadowGamer3301 "Zbigniew Przybyła": November 2022 - April 2023 <br>
    Jezyk182: December 2022 - April 2023 <br>
    <br>
    <h2 style="font-family: 'Bebas Neue', cursive;">Contributors</h2>
    Gucio: March 2023 <br>
    kmiaw: April 2023 <br>
    DevShubam: April 2023 <br>
    <h2 style="font-family: 'Bebas Neue', cursive;">Data collection and cookies.</h2>
    We try to collect as little data as possible from our users, however we need to
    collect some data to make website functional. The data we collect amounts to: 
    <ul>
        <li>Your device type</li>
        <li>Your operating system</li>
        <li>Your browser</li>
        <li>Time of the connection</li>
    </ul>
    Also to make website functional for administrators we use:
    <ul>
        <li>Session cookies</li>
    </ul>
    Here you can check report from
    <%= link_to "Cookie-Script.com", "https://cookie-script.com/quick-report?identifier=f2c0e79d73deff6b0c6f510b0b8e054e", class: "link-app" %> <br>
    All data that we've collected is summed up and deleted every two months.
    <br>
    <h2 style="font-family: 'Bebas Neue', cursive;">Useful links.</h2>
    <%= link_to "Github repository", "https://github.com/ShadowGamer3301/IIC", class: "link-app" %> <br>
    </div>
</div>
