<div class="container">
    <h2 style="font-family: 'Gajraj One', cursive;">What is this project?</h2>
    IIC (shorter of "Is it Cracked?") is a website that provides information
    if certain application was cracked. What makes us different from for example
    CrackWatch is fact that we are not restricting ourselves to only one platform
    or type of software.
</div>
<br>
<div class="container">
    <h2 style="font-family: 'Gajraj One', cursive;">Why this project was created?</h2>
    IIC was created to replace CrackWatch after it was taken down. I simply wanted
    a place where I could to check if some software that I am interested in has been
    cracked already. And there are websites that show that information but there often
    show only specific type of software (for example games only) or are restricted to
    only one distribution platform (for example steam).
</div>
<br>
<div class="container">
    <h2 style="font-family: 'Gajraj One', cursive;">How can I help this project?</h2>
    If you have programming knowledge you can go to our github repository and
    commit to the project. If you don't know how to program or you don't want
    to improve IIC from technical standpoint, we are working on feature that would
    allow users to submit their information about application (that will be later verified
    either by other users or admins and mods of this project.) Also you can donate
    some Monero to adress provided in donate tab.    
</div>