<div class="iic-div-textblock">
    <h2>What is this project?</h2>
    IIC (shorter of "Is it Cracked?") is a website that provides information <br>
    if certain application was cracked. What makes us different from for example <br> 
    CrackWatch is fact that we are not restricting ourselves to only one platform <br>
    or type of software.
</div>

<div class="iic-div-textblock">
    <h2>Why this project was created?</h2>
    IIC was created to replace CrackWatch after it was taken down. I simply wanted <br>
    a place where I could to check if some software that I'm interested in has been <br>
    cracked already. And there are websites that show that information but there often <br>
    show only specific type of software (for example games only) or are restricted to <br>
    only one distribution platform (for example steam).
</div>

<div class="iic-div-textblock">
    <h2>How can I help this project?</h2>
    If you have programming knowledge you can go to our github repository and <br>
    commit to the project. If you don't know how to program or you don't want <br>
    to improve IIC from technical standpoint, we are working on feature that would <br>
    allow users to submit their information about application (that will be later verified <br>
    either by other users or admins and mods of this project.) Also you can donate <br>
    some Monero to adress provided in donate tab.    
</div>