<div class="iic-div-textblock">
  <h2>Honorary Contributors</h2>
  (Contributors that provided significant changes/improvements to project) <br>
  ShadowGamer3301 "Zbigniew Przybyła": 2022-2023 <br>
  Jezyk182: 2022 <br>
</div>

<div class="iic-div-textblock">
  <h2>Distinguished Contributors</h2>
  (Contributors that provided major changes/improvements to project) <br>
</div>

<div class="iic-div-textblock">
  <h2>Normal contributors</h2>
  (Contributors that provided minor or indirect changes/improvements to project) <br>
  Adamersky: 2023
</div>