<div class="container">
  <h2 style="font-family: 'Gajraj One', cursive;">IIC Development Team</h2>
  ShadowGamer3301 "Zbigniew Przybyła": 2022-2023 <br>
  Jezyk182: 2022-2023 <br>
</div>
<br>
<div class="container">
  <h2 style="font-family: 'Bebas Neue', cursive;">Distinguished Contributors</h2>
  (Contributors that provided major changes/improvements to project) <br>
</div>
<br>
<div class="container">
  <h2 style="font-family: 'Bebas Neue', cursive;">Normal contributors</h2>
  (Contributors that provided minor or indirect changes/improvements to project) <br>
  Gucio: 2023 <br>
</div>