<div class="container" style="width: fit-content;">
<table>
    <tr>
        <td><%= image_tag 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogodownload.org%2Fwp-content%2Fuploads%2F2017%2F10%2Fmonero-logo-9.png', style:'width: 100px; height: 100px'%><td>
        <td>48EM2wcHjQqCFRHxFZcTKB514DkgJiK4RUPgLh6YrsASP5QtBJ3t5qNM7EgiKnp6pZdsJx5cuvvhqVR73LGNnPLjDKbfzzD</td>
        <td><button onclick="CopyXMR()" class="button">Copy</button></td>
    </tr>
    <tr>
        <td><%= image_tag 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-download.com%2Fwp-content%2Fuploads%2F2018%2F04%2FZcash_logo_gold.png', style:'width: 100px; height: 100px'%><td>
        <td>t1gtCmWyc7kw4SSixrHdftjEUzvZAxPXTQb</td>
        <td><button onclick="CopyZEC()" class="button">Copy</button></td>
    </tr>
</table>
</div>
<script>
    function CopyXMR() {
        navigator.clipboard.writeText ("48EM2wcHjQqCFRHxFZcTKB514DkgJiK4RUPgLh6YrsASP5QtBJ3t5qNM7EgiKnp6pZdsJx5cuvvhqVR73LGNnPLjDKbfzzD");
    }

    function CopyZEC() {
        navigator.clipboard.writeText ("t1gtCmWyc7kw4SSixrHdftjEUzvZAxPXTQb");
    }
</script>
