<div class="container">
<table>
    <tr>
        <td><%= image_tag 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogodownload.org%2Fwp-content%2Fuploads%2F2017%2F10%2Fmonero-logo-9.png', style:'width: 100px; height: 100px'%><td>
        <td>4794BpzYFYmbRv8UHLiHQsMJYVoxDR4tESgX3RCqKuFdNSsmTfeKWen9pMcwkGy6es4bCfzQKnFSB3QVQ1Bmn8EmD9g2xAx</td>
        <td><button onclick="CopyXMR()" class="button">Copy</button></td>
    </tr>
    <tr>
        <td><%= image_tag 'https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Flogos-download.com%2Fwp-content%2Fuploads%2F2018%2F04%2FZcash_logo_gold.png', style:'width: 100px; height: 100px'%><td>
        <td>t1Zj1VLhpPovwqWL7gWd1GaQNwLMiSC3X3h</td>
        <td><button onclick="CopyZEC()" class="button">Copy</button></td>
    </tr>
</table>
</div>
<script>
    function CopyXMR() {
        navigator.clipboard.writeText ("4794BpzYFYmbRv8UHLiHQsMJYVoxDR4tESgX3RCqKuFdNSsmTfeKWen9pMcwkGy6es4bCfzQKnFSB3QVQ1Bmn8EmD9g2xAx");
    }

    function CopyZEC() {
        navigator.clipboard.writeText ("t1Zj1VLhpPovwqWL7gWd1GaQNwLMiSC3X3h");
    }
</script>
