<div class="container">
    <h1>Is It Cracked</h1>
    <p>Database of cracked software</p>
</div>

<div class="container">
    <h2 style="font-family: 'Gajraj One', cursive;">Small request from authors.</h2>
    We have built this project as free and open sourced, so anyone can enjoy and
    improve it. Yet some things are not free, such as servers, domains, etc.
    We want to offer you the best expirience without the need for serving you ads, or
    collecting and selling your data to 3rd-party companies. So we would be
    very happy if you would consider donating and helping us maintain this project. <br>
    Is It Cracked DevTeam
</div>

<footer>
    <h2 style="font-family: 'Gajraj One', cursive; position: fixed; bottom: 5px; width: 100%;">This website uses cookies. More details are in About Us tab.</h2>
</footer>