<div class="container">
    <h1>Is It Cracked</h1>
    <p>Database of cracked software</p>
</div>

<div class="container">
    <h2 style="font-family: 'Bebas Neue', cursive;">Small request from authors.</h2>
    We have built this project as free and open sourced, so anyone can enjoy and
    improve it. Yet some things are not free, such as servers, domains, etc.
    We want to offer you the best experience without the need for serving you ads, or
    collecting and selling your data to 3rd-party companies. So we would be
    very happy if you would consider donating and helping us maintain this project. <br> 
    Is It Cracked DevTeam
</div>

<div id="applications">
    <% @applications.each_slice(3) do |applications| %>
          <%- applications.each do |application| %>
            <div class="app">
              <%= application.title%> | <%= link_to "Show details", application, class: 'link-app' %>
            </div>
          <%end%>
    <%end%>
</div>

<footer>
    <h2 style="font-family: 'Bebas Neue', cursive; position: fixed; bottom: 5px; width: 100%;" class="footer">This website uses cookies. More details are in About Us tab.</h2>
</footer>
