<div id="<%= dom_id wallet %>">
  <h1 style="color: #ff6800;">
    <%= wallet.coin_ico%>
  </h1>
  <p>
    <% if wallet.wallet_qr%>
      <%= image_tag wallet.wallet_qr, id:"qr"%>
    <% end %>
  </p>

  <% if current_page?('/wallets') %>
    <p class="show">
      <p class="get-address" onclick="GetWallAddr()">Get wallet address</p>
    </p>
  <%else%>
  <% end %>
  
</div>
<div id="address"></div>

<script>

  function GetWallAddr() {
    document.getElementById("address").innerHTML="<h1><%= wallet.wallet_txt %></h1>";
  }

</script>