<p style="color: green"><%= notice %></p>

<h1>User apps</h1>

<div id="user_apps">
  <% @user_apps.each do |user_app| %>
    <%= render user_app %>
    <p>
      <%= link_to "Show this user app", user_app %>
    </p>
  <% end %>
</div>

<%= link_to "New user app", new_user_app_path %>
