html, body {
    background-color: #1d0000;
    text-align: center;
}

nav {
    background-color: #c0c0c060;
    margin: 50px auto;
    width: 500px;
    border-radius: 30px;
    border: solid #9e0000 1.5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 58px -5px #9e0000;
    -moz-box-shadow: 0px 0px 58px -5px #9e0000;
    box-shadow: 0px 0px 58px -5px #9e0000;
}

.container {
    display: inline-block;
    margin: 50px 10px 0px 10px;
    background-color: #c0c0c060;
    width: 500px;
    border-radius: 30px;
    border: solid #9e0000 1.5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 58px -5px #9e0000;
    -moz-box-shadow: 0px 0px 58px -5px #9e0000;
    box-shadow: 0px 0px 58px -5px #9e0000;
}


.show-application-container{
    display: block;
    margin: 50px auto 0 auto;
    background-color: #c0c0c060;
    width: 500px;
    border-radius: 30px;
    border: solid #9e0000 1.5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 58px -5px #9e0000;
    -moz-box-shadow: 0px 0px 58px -5px #9e0000;
    box-shadow: 0px 0px 58px -5px #9e0000;
}
.nav-element {
    text-decoration: none;
    color: black;
    margin: 0px;
    padding: 10px;
    margin-bottom: 10px;
    border: solid #9e0000 2px;
    cursor: default;
}

.nav-element:hover {
    background-color: #18181860;
}

.apps {
    background-color: #c0c0c060;
    margin: 20px auto;
    width: 500px;
    border-radius: 30px;
    border: solid #9e0000 1.5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 58px -5px #9e0000;
    -moz-box-shadow: 0px 0px 58px -5px #9e0000;
    box-shadow: 0px 0px 58px -5px #9e0000;
}

.button {
    margin: 20px;
    border-radius: 30px;
    border: solid #9e0000 1.5px;
    padding: 10px;
    cursor: pointer;
    background-color: #c0c0c060;
    font-size: 18px;
}

.button:hover {
    background-color: #18181860;
}

#application {
    margin: 50px auto;
    background-color: #c0c0c060;
    width: 30vw;
    border-radius: 30px;
    border: solid #9e0000 1.5px;
    padding: 20px;
    height: 700px;
    -webkit-box-shadow: 0px 0px 58px -5px #9e0000;
    -moz-box-shadow: 0px 0px 58px -5px #9e0000;
    box-shadow: 0px 0px 58px -5px #9e0000;
}

.show {
    margin: 20px auto;
    background-color: #c0c0c060;
    width: 400px;
    border-radius: 30px;
    border: solid #9e0000 1.5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 58px -5px #9e0000;
    -moz-box-shadow: 0px 0px 58px -5px #9e0000;
    box-shadow: 0px 0px 58px -5px #9e0000;
}

.form-control {
    width: 340px;
    margin: auto;
    border: solid #9e0000 2px;
    border-radius: 10px;
    padding: 5px;
    padding: 5px;
    background-color: #e0e0e0b2;
    font-size: 150%;
}

.link {
    text-decoration: none;
    color: inherit;
}