@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
    background-color: #0f0f0f;
    color: #a2a2a2;
    text-align: center;
    width: 100vw;
    line-height: 30px;
    margin: 0px;
}

nav {
    width: 100vw;
    padding: 15px 0;
    height: 30px;
}

.nav-element {
    color: #a2a2a2;
    font-family: 'Bebas Neue', cursive;
    font-size: 26px;
    text-decoration: none;
    margin: 0px 20px;
    padding: 10px;
    margin-bottom: 10px;
    display: inline-block;
    cursor: default;
    font-weight: lighter;
}

.nav-element:hover {
    color: #ff6800;
    cursor: pointer;
}

#IIC-header {
    font-size: 42px;
    color: #ff6800;
    margin: 250px auto;
    text-transform: uppercase;
    line-height: 5px;
}

#IIC-header > p {
    color: #fff;
    font-size: 20px;
    text-transform: none;
}

#IICDT {
    font-weight: bolder;
}

.IIC {
    height: 1080px;
}

h2 {
    font-size: 32px;
    color: #ff6800;
}

.container {
    width: 80vw;
    padding: 15px;
    margin: 20px auto;
    border-radius: 30px;
}


.container-show{
    display: block;
    margin: 50px auto 0 auto;
    width: 500px;
    border-radius: 30px;
    padding: 20px;
}

.apps {
    font-size: 86px;
    margin: 20px auto;
    width: 500px;
    border-radius: 30px;
    padding: 20px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 3px;
    font-weight: bolder;
}

#left, #right {
    width: 40%;
    float: left;
    text-align: left;
    margin: 20px;
}

#right {
    width: 40%;
    float: right;
    text-align: left;
    margin: 20px;
}

.div-textblock {
    margin: 50px auto;
    width: 30vw;
    padding: 20px;
}

.link {
    text-decoration: none;
    padding: 10px;
    margin-bottom: 10px;
    cursor: default;
}

.link:hover {
    background-color: #18181860;
}

.block {
    margin: 30px;
    padding: 10px;
}

.block > input {
    border: solid #ff6800 2px;
    border-radius: 10px;
    margin: 10px auto;
}

.button {
    margin: 20px;
    border-radius: 30px;
    border: solid #ff6800 1.5px;
    padding: 10px;
    cursor: pointer;
    background-color: #c0c0c060;
    font-size: 18px;
}

.button:hover {
    cursor: default;
    background-color: #616161;
    color: #ff6800;
}

.form-control {
    height: 100%;
    border: solid #5e5e5e 2px;
    border-radius: 5px;
    background-color: #181818;
    font-size: 20px;
    color: white;
}

.btn-info {
    height: 100%;
    border: solid #5e5e5e 2px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #181818;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.app {
    font-family: 'Bebas Neue', cursive;
    width: 41vw;
    height: 250px;
    border-radius: 25px;
    font-size: 24px;
    background-color: #181818;
    color: #ffffff;
}

.apps-con {
    width: 90vw;
    margin: auto;
    justify-content: center;
}

#applications {
    display: grid;
    justify-content: center;
    grid-template-columns: auto auto;
    gap: 50px 110px;
    position: relative;
}

#search {
    padding: 20px;
    height: 80px;
}

#search-left {
    float: left;
}

#search-right {
    float: right; 
}

.search-btn {
    background-color: transparent;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 32px;
    margin: 0 0 0 20px;
}

.app-left {
    width: 30%;
    height: 100%;
    float: left;
}

.app-right {
    width: 60%;
    height: 100%;
    float: left;
    text-align: left;
    margin: 30px;
}

.image {
    width: 100%;
    height: 100%;
    border-radius: 25px 0 0 25px;
}

.link-app {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #ff6800;
    text-decoration: none;
}

.link-app:hover {
    color: #616161;
    transition: 0.2s;
}

.wallet {
    background-color: #181818;
    color: #ffffff;
    border: solid #ff6800 4.5px;
    margin: 5%;
}

.footer {
    width: 100vw;
    background: linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 70%, rgba(0,212,255,0) 90%);
    margin: auto;
    font-size: 26px;
    display: none;
}

.container #applications .app {
    width: 90%;
    margin: 10px auto;
}



@media screen and (max-width: 600px) {
    .nav-element {
        font-size: 14px;
        margin: 0;
    }

    .container {
        width: 70vw;
    }

    .apps {
        font-size: 52px;
        width: 70vw;
    }

}