@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

html, body {
     background: rgb(192,192,192);
background: linear-gradient(21deg, rgba(192,192,192,1) 39%, rgba(170,148,20,1) 100%); 
    text-align: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
    max-width: 100vw;
}

nav {
    background-color: #181818;
    position: relative;
    left: -10px;
    top: -10px;
    width: 100vw;
    padding: 15px 0;
    border-bottom: 4px solid #aa9414;
    height: 30px;
}

.container {
    width: 35%;
    padding: 15px;
    margin: 20px auto;
    background-color: #181818;
    color: #ffffff;
    border-radius: 30px;
    border: solid #aa9414 4.5px;
    -webkit-box-shadow: 0px 0px 58px -5px #aa9414;
    -moz-box-shadow: 0px 0px 58px -5px #aa9414;
    box-shadow: 0px 0px 58px -5px #aa9414;
}


.container-show{
    display: block;
    margin: 50px auto 0 auto;
    background-color: #c0c0c060;
    width: 500px;
    border-radius: 30px;
    border: solid #aa9414 1.5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 58px -5px #aa9414;
    -moz-box-shadow: 0px 0px 58px -5px #aa9414;
    box-shadow: 0px 0px 58px -5px #aa9414;
}

.apps {
    font-size: 72px;
    margin: 20px auto;
    width: 500px;
    border-radius: 30px;
    padding: 20px;
}

.nav-element {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    text-decoration: none;
    color: #ffffff;
    margin: 0px;
    padding: 10px;
    margin-bottom: 10px;
    border-right: solid #aa9414 1px;
    display: inline-block;
    cursor: default;
}

.nav-element:first-child {
    border-left: solid #aa9414 1px;
}

.nav-element:hover {
    color: #998826;
}

.nav-element-button {
    margin-top: 20px;
    background-color: #c0c0c060;
    border: solid #aa9414 2px;
    border-radius: 30px;
    padding: 10px;
    font-size: 18px;
}

.nav-element-button:hover {
    background-color: #18181860;
}

.div-textblock {
    background-color: #c0c0c060;
    margin: 50px auto;
    width: 30vw;
    border-radius: 30px;
    border: solid #aa9414 1.5px;
    padding: 20px;
    -webkit-box-shadow: 0px 0px 58px -5px #aa9414;
    -moz-box-shadow: 0px 0px 58px -5px #aa9414;
    box-shadow: 0px 0px 58px -5px #aa9414;
}

.link {
    text-decoration: none;
    color: black;
    padding: 10px;
    margin-bottom: 10px;
    border-right: dotted #aa9414 2px;
    border-left: dotted #aa9414 2px;
    cursor: default;
}

.link:hover {
    background-color: #18181860;
}

.block {
    margin: 30px;
    padding: 10px;
}

.block > input {
    border: solid #aa9414 2px;
    border-radius: 10px;
    margin: 10px auto;
}

.button {
    margin: 20px;
    border-radius: 30px;
    border: solid #aa9414 1.5px;
    padding: 10px;
    cursor: pointer;
    background-color: #c0c0c060;
    font-size: 18px;
}

.button:hover {
    cursor: default;
    background-color: #616161;
    color: #aa9414;
    -webkit-box-shadow: 0px 0px 58px -5px #272727;
    -moz-box-shadow: 0px 0px 58px -5px #272727;
    box-shadow: 0px 0px 58px -5px #272727;
}

.form-control {
    margin: 20px 0 50px 0;
    width: 40%;
    height: 100%;
    border: solid #5e5e5e 2px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #181818;
    font-size: 24px;
    color: white;
}

.form-control:focus {
    color: #aa9414;
    -webkit-box-shadow: 0px 0px 58px -5px #272727;
    -moz-box-shadow: 0px 0px 58px -5px #272727;
    box-shadow: 0px 0px 58px -5px #272727;
}

.btn-info {
    height: 100%;
    border: solid #5e5e5e 2px;
    border-radius: 5px;
    padding: 10px 20px;
    background-color: #181818;
    font-size: 24px;
    color: #fff;
    margin: 0;
}

.app {
    font-family: 'Bebas Neue', cursive;
    width: 70vw;
    margin: auto;
    border-radius: 5px;
    font-size: 24px;
    background-color: #181818;
    color: #ffffff;
    margin-top: 10px;
    border: solid #aa9414 4.5px;
    padding: 10px;
}

.link-app {
    font-family: 'Bebas Neue', cursive;
    font-size: 24px;
    color: #998826;
    text-decoration: none;
}

.link-app:hover {
    color: #616161;
    transition: 0.2s;
}

.wallet {
    background-color: #181818;
    color: #ffffff;
    border: solid #aa9414 4.5px;
    margin: 5%;
}

.footer {
    width: 100vw;
    background: linear-gradient(90deg, rgba(255,255,255,0) 10%, rgba(0,0,0,1) 36%, rgba(0,0,0,1) 70%, rgba(0,212,255,0) 90%);
    color: #aca05e;
    margin: auto;
}

.container #applications .app {
    width: 90%;
    margin: 10px auto;
}

.image {
    width: 90%;
    margin: 10px auto;
    padding: 5px;
}


@media screen and (max-width: 600px) {
    .nav-element {
        font-size: 14px;
        margin: 0;
    }

    .container {
        width: 70vw;
    }

    .apps {
        font-size: 36px;
        width: 70vw;
    }

}